:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --fon-color: #ffffff;
  --interval-box: 30px;
  --function-time: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  background-color: var(--fon-color);
  color: var(--primary-text-color);
}

h1,
h2,
h3,
p,
ul {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
.container {
  padding-left: 15px;
  padding-right: 15px;

  width: 1200px;
  margin: 0 auto;
}

/* header */
.header {
  display: flex;
  border-bottom: 1px solid #ececec;
  height: 80px;
}
.header > .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav {
  display: flex;
  align-items: center;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  line-height: 1.2;
  font-weight: 700;

  color: #000000;
  margin-right: 93px;
}
.logo-blue-text {
  color: var(--accent-color);
}
.nav-list,
.contacts-list,
.feature,
.career,
.comand,
.works-list-button,
.works-list {
  display: flex;
}
.nav-link,
.contacts-link {
  padding: 32px 0;
  transition: color var(--function-time);
}

.nav-link {
  color: var(--title-text-color);
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 1.14;
}
.nav-link-active {
  position: relative;
  color: var(--accent-color);
}
.nav-link-active::after {
  content: " ";
  position: absolute;
  bottom: 0;
  height: 4px;
  width: 100%;
  display: block;
  background: var(--accent-color);
  border-radius: 2px;
}
.nav-item:not(:last-child),
.contacts-item:not(:last-child) {
  margin-right: 50px;
}

.contacts-link {
  display: flex;
  align-items: center;
  color: var(--primary-text-color);
  fill: var(--primary-text-color);
}
.contacts-icon {
  margin-right: 10px;
  transition: fill var(--function-time);
}

.nav-link:hover,
.nav-link:focus,
.contacts-link:hover,
.contacts-link:focus {
  color: var(--accent-color);
}
.contacts-link:hover .contacts-icon,
.contacts-link:focus .contacts-icon {
  fill: var(--accent-color);
}

/* main */
.hero {
  padding-top: 200px;
  padding-bottom: 200px;

  text-align: center;
  background-color: #2f303a;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/fon.jpg");

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--fon-color);
  margin-bottom: var(--interval-box);
}

.hero-button {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  /* identical to box height, or 187% */
  letter-spacing: 0.06em;

  color: var(--fon-color);

  background-color: var(--accent-color);
  cursor: pointer;
  padding: 10px 32px;
  border-radius: 4px;
  border: none;

  transition: color var(--function-time), background-color var(--function-time);
}
.hero-button:focus,
.hero-button:hover,
.mail-form-button:focus,
.mail-form-button:hover {
  color: var(--accent-color);
  background-color: var(--fon-color);
}
/* особливості */
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.invisible-title,
.modal-check {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.feature-box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  width: 270px;
  border-radius: 4px;
  margin-bottom: var(--interval-box);
  background: #f5f4fa;
}
.feature-icon {
  height: 70px;
  width: 70px;
}
.feature-item:not(:last-child),
.career-item:not(:last-child),
.comand-item:not(:last-child),
.client-item:not(:last-child) {
  margin-right: var(--interval-box);
}
.feature-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 10px;

  color: var(--title-text-color);
}

/* чим займаємося */
.no-pading-top {
  padding-top: 0;
}
.career-item {
  position: relative;
}
.career-img,
.comand-foto,
.work-img {
  width: 100%;
  height: auto;
  display: block;
}
.comand-title,
.career-title,
.client-title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;

  color: var(--title-text-color);
}
.career-text {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 27px;
  font-weight: 700;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;

  color: var(--fon-color);
  background: rgba(47, 48, 58, 0.8);
}

/* Наша команда */

.team {
  background-color: #f5f4fa;
}
/* .comand-item {
} */
.comand-text {
  font-size: 16px;
  line-height: 1.19;
  padding: 30px 0;
  background-color: var(--fon-color);
  text-align: center;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  fill: #afb1b8;
}

.comand-name {
  font-weight: 500;
  margin-bottom: 10px;
  color: var(--title-text-color);
}
.comand-work {
  margin-bottom: 16px;
}
.social-networks-list {
  display: flex;
  justify-content: center;
}
.social-networks-item:not(:last-child) {
  margin-right: 10px;
}
.social-networks-link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 44px;
  width: 44px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  text-align: center;
  transition: background-color var(--function-time);
}
.social-networks-link:hover,
.social-networks-link:focus {
  background-color: var(--accent-color);
}
.social-networks-link:hover,
.social-networks-link:focus {
  fill: var(--fon-color);
}
.social-networks-icon {
  height: 20px;
  width: 20px;
  fill: inherit;
  transition: fill var(--function-time);
}
/* Постоянные клиенты */
.client,
.mail-form-box {
  display: flex;
}
.client-link {
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  display: flex;
  fill: #afb1b8;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: border var(--function-time);
}
.client-icon {
  fill: inherit;
  transition: fill var(--function-time);
}
.client-link:hover,
.client-link:focus {
  border-color: var(--accent-color);
}
.client-link:hover .client-icon,
.client-link:focus .client-icon {
  fill: var(--accent-color);
}
/* footer */
.low {
  background-color: #2f303a;
  padding-bottom: 60px;
  padding-top: 60px;
}
.low-container {
  display: flex;
  align-items: baseline;
}
.low-logo {
  display: inline-block;
  margin-right: 0;
  margin-bottom: 20px;
  color: var(--fon-color);
}
.address-list {
  font-style: normal;
}
.address-text {
  color: var(--fon-color);
}

.address-links {
  color: rgba(255, 255, 255, 0.6);
  transition: color var(--function-time);
}
.address-links:hover,
.address-links:focus {
  color: var(--accent-color);
}
.address-item:not(:last-child) {
  margin-bottom: 9px;
}
.social-networks-box {
  margin-left: 70px;
  fill: var(--fon-color);
}
.social-networks-text {
  margin-bottom: 20px;

  font-weight: 700;
  line-height: 16px;
  text-transform: uppercase;
  color: var(--fon-color);
}
/* mail-form */

.mail-form {
  margin-left: 93px;
}
.mail-form-text {
  display: flex;
  font-weight: 700;
  line-height: 1.14;
  margin-bottom: 20px;
  text-transform: uppercase;

  color: var(--fon-color);
}
.mail-form-edit {
  display: flex;
  width: 358px;
  height: 50px;
  background: none;
  padding-left: 16px;
  padding-right: 16px;
  margin-right: 12px;

  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  font-size: 16px;

  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
  transition: border-color var(--function-time);
}
.mail-form-edit::placeholder {
  font-size: 16px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.mail-form-edit:hover,
.mail-form-edit:focus-visible {
  border-color: var(--accent-color);
  outline-color: var(--accent-color);
}
.mail-form-button {
  display: flex;
  align-items: center;
  height: 50px;
  padding-left: 29px;
  padding-right: 28px;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;

  color: var(--fon-color);
  background: var(--accent-color);
  fill: var(--fon-color);

  transition: color var(--function-time), background-color var(--function-time);
}

.mail-form-button:focus .mail-form-iconn,
.mail-form-button:hover .mail-form-icon {
  fill: var(--accent-color);
}

.mail-form-icon {
  fill: inherit;
  transition: fill var(--function-time);
  margin-left: 10px;
}

/* modal-windows */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity var(--function-time);
}
.modal {
  position: absolute;
  left: 50%;
  top: 50%;

  transform: translate(-50%, -50%);
  transition: transform var(--function-time);
  width: 528px;
  padding: 40px;

  background: var(--fon-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -400%);
}
.modal-button {
  display: flex;
  align-items: center;
  position: absolute;
  top: 8px;
  right: 8px;
  height: 30px;
  width: 30px;
  border-radius: 50%;

  background: var(--fon-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
.modal-icon {
  fill: inherit;
  transition: fill var(--function-time);
}
.modal-button:hover .modal-icon,
.modal-button:focus .modal-icon {
  fill: var(--accent-color);
}
.modal-title {
  margin-bottom: 12px;
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;

  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
.modal-form {
  display: flex;
  flex-direction: column;
}
.modal-text {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  margin-bottom: 4px;
}
.modal-edit-blok {
  position: relative;
  margin-bottom: 10px;
}
.modal-edit-border:hover,
.modal-edit-border:focus-visible {
  border-color: var(--accent-color);
  outline-color: var(--accent-color);
}
.modal-edit-border:hover + .modal-edit-icon,
.modal-edit-border:focus-visible + .modal-edit-icon {
  fill: var(--accent-color);
}
.modal-edit {
  width: 100%;
  height: 40px;
  padding-left: 42px;
}
.modal-edit-border {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  cursor: pointer;
  transition: border-color var(--function-time),
    outline-color var(--function-time);
}
.modal-edit-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  fill: var(--title-text-color);
  transition: fill var(--function-time);
}
.modal-comment {
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  margin-top: 4px;
  resize: none;
}
.modal-comment-text {
  margin-bottom: 20px;
}
.modal-comment::placeholder {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5);
}
.modal-element-centr {
  text-align: center;
}
.modal-check-text {
  display: flex;
  justify-content: center;
  align-items: center;
  fill: var(--fon-color);
}
.modal-link {
  text-decoration: underline;
  color: var(--accent-color);
}
.modal-check:focus + .modal-check-icon,
.modal-check:hover + .modal-check-icon {
  border-color: var(--accent-color);
}
.modal-check:checked + .modal-check-icon {
  border: none;
  background-color: var(--accent-color);
}
.modal-check-icon {
  border: 2px solid var(--title-text-color);
  border-radius: 2px;
  margin-right: 8px;
  font: inherit;
}

.modal-button-submit {
  background: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  padding: 10px 55px;
  margin-top: 30px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;
  color: var(--fon-color);
}

/* portfolio/
/----------------------------------------------------------------------
/----------------------------------------------------------------------
/ */
.works-list-button {
  margin-bottom: 50px;
  justify-content: center;
}
.works-button-item:not(:last-child) {
  margin-right: 8px;
}
.works-button {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62em;
  color: var(--title-text-color);
  background-color: #f5f4fa;
  cursor: pointer;
  padding: 6px 22px;
  border-radius: 4px;
  letter-spacing: 0.03em;
  border: none;
  transition: color var(--function-time), background-color var(--function-time);
}

.works-button:focus,
.works-button:hover {
  color: var(--fon-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.works-list {
  flex-wrap: wrap;
}

.works-item {
  margin-left: var(--interval-box);
  margin-top: var(--interval-box);
}
.works-link {
  display: block;
  transition: box-shadow var(--function-time);
}
.works-link:focus,
.works-link:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.works-link:hover .work-box-text-animation,
.works-link:focus .work-box-text-animation {
  transform: translateY(0%);
}
.work-box {
  position: relative;
  overflow: hidden;
}
.work-box-text-animation {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(100%);
  transition: transform var(--function-time);
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  padding: 24px;
  background: rgba(33, 150, 243, 0.9);
}

.work-text-anamation {
  font-size: 18px;
  line-height: 1.56;
  color: var(--fon-color);
  letter-spacing: 0.03em;
}
.work-text-box {
  border: 1px solid #eeeeee;
  padding: 20px 24px;
}
.works-item:nth-child(3n + 1) {
  margin-left: 0;
}
.works-item:not(:nth-child(n + 4)) {
  margin-top: 0;
}

.work-box-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2em;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
  margin-bottom: 4px;
}
.work-text {
  font-size: 16px;
  line-height: 1.87em;
  letter-spacing: 0.03em;
  color: inherit;
}
